


<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hackathon</title>

</head>

<body>

<div class="cont1">
  <br>
  <h1 style="color:beige" align="center">UMKC Hackathon Judgement <br></h1>

  <div class="demo">
    <div class="login">
      <br>

      <h2 style="color:ghostwhite" align="center">Admin Login</h2>
      <div class="login__check"></div>
      <div class="login__form">
        <div class="login__row">
          <input type="text" id="username" class="login__input name" style="color:white;" placeholder="Username" required autofocus ng-model="username">
        </div>
        <div class="login__row">
          <input type="password" id="password" class="login__input name" style="color:white;" placeholder="Password" required autofocus ng-model="password">
        </div>

        <button class="login__submit" ng_click="adminlogin(username,password)" type="submit">Login</button>

        <div style="color:white;" id="x"></div>
      </div>

    </div>
    </div>

  </div>

</body>




</html>




<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<header>-->
<!--<h1>Judgement admin</h1>-->
<!--</header>-->
<!--</head>-->
<!--<body>-->

<!--<div class="flex-container">-->


<!--<h4 class="form-signin-heading">Please Sign in</h4>-->

<!--<div class="list list-inset">-->
<!--<label class="item item-input">-->
<!--<input type="text" id="username" class="form-control" placeholder="Username" required autofocus ng-model="username">-->
<!--</label>-->
<!--<label class="item item-input">-->
<!--<input type="password" id="password" class="form-control" placeholder="Password" required autofocus ng-model="password">-->
<!--</label>-->
<!--</div>-->
<!--<button ng_click="adminlogin(username,password)" type="submit">Login</button>-->

<!--<div id="x"></div><br>-->



<!--<footer>Copyright © Judgement</footer>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->



