

<!DOCTYPE html>
<html>
<head>
  <header>

  </header>
</head>
<body>

<div class="cont2">


  <!--<div class="login__form">-->
  <br><br>
  <h2 style="color:beige" align="center">Judge Details <br></h2>
  <br><br>
  <div class="login__row">
    <input type="text" id="name" style="color:white" class="login__input name" placeholder="Enter your full name" required autofocus ng-model="name">
  </div>
  <div class="login__row">
    <input type="text" id="companyname" style="color:white" class="login__input name" placeholder="Enter your company name"
           required autofocus ng-model="company_name">
  </div>
  <div class="login__row">
    <input type="text" id="interestedtech" style="color:white" class="login__input name" placeholder="Enter your interested technologies"
           required autofocus ng-model="interested_technologies">




    </div>

    <button class="button button-block button-balanced padding-horizontal" ng-click="update(name,company_name,interested_technologies)">Profile Update</button>

    <div>
    <button class="button button-block button-balanced padding-horizontal" ng_click="finaleresults()" type="submit">Final Results</button>
    </div>
  <button ng-click="skip()">skip to score page</button>


</div>

</body>
</html>





